*.lo
*.o
.deps/
.gitignore
.libs/
Makefile
Makefile.in
TAGS
TEST/.deps/
TEST/.libs/
TEST/Makefile
TEST/Makefile.in
TEST/TAGS
TEST/stress.sh
INSTALL
TEST/print-types
TEST/test
TEST/test_an
TEST/test_an_2
TEST/test_as
TEST/test_as_2
TEST/test_ci
TEST/test_cpp
TEST/test_di
TEST/test_ec
TEST/test_ecn
TEST/test_ecn_ssl
TEST/test_ei
TEST/test_ein
TEST/test_gc
TEST/test_gi
TEST/test_gp
TEST/test_im1
TEST/test_im2
TEST/test_im3
TEST/test_im4
TEST/test_imos
TEST/test_leak
TEST/test_qualifiers
TEST/test_qualifiers2
TEST/test_rf
TEST/test_rfn
TEST/test_si
TEST/test_sp
TEST/test_xq
TEST/v2test_ec
TEST/v2test_ecn
TEST/v2test_ei
TEST/v2test_ein
TEST/v2test_gc
TEST/v2test_im
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
*.la
libtool
ltmain.sh
missing
sfcc.spec
stamp-h1
*~